/* The main content */
.full {
  width: 100vw;
}

.main-content {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  padding-top: 40px;
  margin: 0 0 40px 210px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}


.navLogo {
  width: 75px;
}

.inline {
  display: inline;
}

.inline>img {
  width: 33vw;
  height: auto;
}

.parallax-container {
  height: 78vh;
}

.parallax {
  text-align: center;
}

.parallaxText {
   /*position:relative;*/
   z-index:10;
   /*margin-left: 38vw;*/
   color: white;
}
.parallaxImg {
   position:absolute;
   z-index:1;
}


.droneVideo {
  width: 100%    !important;
  height: auto   !important;
}

/* The left sidebar */

.sidebar-left {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
/*  background-color: #292c2f;*/
  background-color: transparent;
  width: 120px;
  height: 100%;
  padding: 20px 0;
}

.sidebar-left a.company-logo {
  text-align: center;
}

.sidebar-left a.company-logo>img {
  width: 100%;
/*  height: 100%;*/
  text-align: center;
}

.sidebar-left .sidebar-links {
  margin: 20px auto;
}

.sidebar-left .sidebar-links a {
  display: block;
  text-decoration: none;
  margin: 0 auto 5px auto;
  padding: 20px 0;
  background-color: rgba(20,20,20, 0.7);
/*background-color: transparent;*/
  text-align: center;
  color:  #b3bcc5;
  font-size: 12px;
  font-weight: bold;
  border-left-width: 5px;
  border-left-style: solid;
}

.sidebar-left .sidebar-links a i.fa {
  display: block;
  font-size: 35px;
  margin-bottom: 5px;
}

.sidebar-left .sidebar-links a.selected{
/*  background-color: #ffffff;*/
  background-color: rgba(255,255,255, 0.4);
  color:  #7c8085;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
}

/* Link Colors */

.sidebar-left .sidebar-links a.link-blue {
  border-color: #E5DEE3;
}
.sidebar-left .sidebar-links a.link-blue i.fa {
  color: #E5DEE3;
}

.sidebar-left .sidebar-links a.link-red {
  border-color: #BFB9BD;
}
.sidebar-left .sidebar-links a.link-red i.fa {
  color: #BFB9BD;
}

.sidebar-left .sidebar-links a.link-yellow {
  border-color: #141414;
}
.sidebar-left .sidebar-links a.link-yellow i.fa {
  color: #BFB9BD;
}

.sidebar-left .sidebar-links a.link-green {
  border-color: #86be2e;
}
.sidebar-left .sidebar-links a.link-green i.fa {
  color: #BFB9BD;
}

/* Making the sidebar responsive */

@media (max-width: 900px) {

  .main-content{
    max-width: none;
    padding: 40px 20px;
    margin: 0 0 40px;
  }

  .sidebar-left {
    margin-top: 15vh;
    width: auto;
    height: auto;
    position: inherit;
    padding: 20px 0 0;
    text-align: center;
  }

  .sidebar-left .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
  }

  .sidebar-left .sidebar-links a {
    display: inline-block;
    width: 100px;
    margin: 0;
    padding: 14px 0;
    border-left: none;
    border-top-width: 2px;
    border-top-style: solid;
  }


  .sidebar-left a.company-logo>img {
  width: 45%;
  height: 45%;
}

}

/* Mobile phone layout */

@media (max-width: 450px) {

  .sidebar-left {
    margin-top: 0vh;
    padding: 20px 0;
  }

  .sidebar-left .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
  }

  .sidebar-left .sidebar-links a {
    display: block;
    max-width: 240px;
    width: auto;
    vertical-align: middle;
    text-align: left;
    margin: 0 auto 5px;
    padding: 10px 25px;
    border-top: none;
    border-left-width: 2px;
    border-left-style: solid;
  }

  .sidebar-left .sidebar-links a i.fa {
    display: inline-block;
    font-size: 20px;
    width: 20px;
    margin: 0 20px 0 0;
    vertical-align: middle;
  }

  .sidebar-left a.company-logo>img {
    width: 65%;
    height: 65%;
  }

}

/*  Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

body {
  margin: 0;
  padding: 0;
}

/*.video-container {
  position: relative;
  margin-top: -1em;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: -1em;
}

iframe {
max-width: 100%;
}
*/

/*ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
}

img {
  width: 10em;
  height: auto;
}*/

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fullscreen-video-tab {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-video-tab__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

/*@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}*/

.inlineVideos>ul {
  display: inline-block;
  list-style: none;
}

/*.inlineVideos>iframe {
  width: 50em;
  height: 30em;
}*/


