<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Video</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

    <aside class="sidebar-left">
      <div>
        <a class="company-logo" href="#"><img src="images/DA_Logo.png"></a>
      </div>

      <div class="sidebar-links">
        <a class="link-blue" href="#"><i class="fa fa-video-camera"></i>Video</a>
        <a class="link-red" href="#"><i class="fa fa-picture-o"></i>Photography</a>
    <!--       <a class="link-red" href="#"><i class="fa fa-heart-o"></i>Favorites</a> -->
    <!--       <a class="link-yellow selected" href="#"><i class="fa fa-keyboard-o"></i>Projects</a> -->
    <!--       <a class="link-green" href="#"><i class="fa fa-map-marker"></i>Places</a> -->
        <a class="link-green" href="#"><i class="fa fa-briefcase"></i>Services</a>
        <a class="link-yellow" href="#"><i class="fa fa-user"></i>About</a>
      </div>

    </aside>

  <div class="main-content">
    hi hi hi hi hi
    <div class="menu">
      <h1>Hello World</h1>
    </div>

  </div>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>
