<DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
<!--     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>


<!-- SIDE NAV -->
<!--     <aside class="sidebar-left">
      <div>
        <a class="company-logo" href="/"><img src="../images/DA_Logo.png"></a>
      </div>
      <div class="sidebar-links">
        <a class="link-green" href="/video"><i class="fa fa-video-camera"></i>Video</a>
        <a class="link-green" href="/photography"><i class="fa fa-picture-o"></i>Photography</a>

        <a class="link-green" href="/services"><i class="fa fa-briefcase"></i>Services</a>
        <a class="link-green" href="/about"><i class="fa fa-user"></i>About</a>
      </div>
    </aside> -->

    {% block content %}
    {% endblock %}


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
     <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="../js/main.js"></script>

  </body>
</html>
