

{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="images/DA_Logo.png" class="navLogo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">view_headline</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/video">Video</a></li>
        <li><a class="dropdown-button" href="/photography" data-activates="dropdown1">Photography</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <!-- SIDE NAV -->
      <ul class="side-nav" id="mobile-demo">
        <li class="bold"><a href="/">Home</a></li>
        <li class="bold"><a href="/video">Video</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="active"><a class="bold collapsible-header active waves-effect waves-teal">Photography</a>
              <div class="collapsible-body" style="display: block;">
                <ul>
                  <li class="italic"><a href="/photography/astrophotography">Astrophotography</a></li>
                  <li class="italic"><a href="/photography/steelwool">Steel Wool</a></li>
                  <li class="italic"><a href="/photography/portraits">Portraits</a></li>
                  <li class="italic"><a href="/photography/landscape">Landscape</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold"><a href="/services">Services</a></li>
        <li class="bold"><a href="mobile.html">About</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col s12 full">
      <ul class="tabs innerTab">
        <li class="tab col s3"><a href="#test1">Video 1</a></li>
        <li class="tab col s3"><a href="#test2">Video 2</a></li>
        <li class="tab col s3"><a href="#test3">Video 3</a></li>
        <li class="tab col s3"><a href="#test4">Video 4</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12 fullscreen-bg">
      <video loop muted autoplay poster="images/2.jpg" class="fullscreen-bg__video">
        <source src="d2.mp4" type="video/mp4">
      </video>
    </div>
    <div id="test2" class="col s12 fullscreen-bg">
      <video loop muted autoplay poster="images/2.jpg" class="fullscreen-bg__video">
        <source src="d1.mp4" type="video/mp4">
      </video>
    </div>
    <div id="test3" class="col s12">
      <div class="droneVideo"><iframe src="https://player.vimeo.com/video/140932853?portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div id="test4" class="col s12">
      <div class="droneVideo"><iframe src="https://player.vimeo.com/video/140932853?portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>


{% endblock %}
