

{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img src="images/DA_Logo.png" class="navLogo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">view_headline</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/video">Video</a></li>
        <li><a href="/photography">Photography</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/video">Video</a></li>
        <li><a href="/photography">Photography</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="mobile.html">About</a></li>
      </ul>
    </div>
  </nav>

  <div>
    <h2>Videos:</h2>
    <div class="inlineVideos">
<!--       <iframe src="https://player.vimeo.com/video/140932853?portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <iframe src="https://player.vimeo.com/video/140932853?portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
      <ul>
        <li>
          <iframe src="https://player.vimeo.com/video/140932853?portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </li>
        <li>
          <iframe src="https://player.vimeo.com/video/140932853?portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </li>
      </ul>
    </div>

  </div>



</div>

{% endblock %}
