

{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div>
    <h2>Videos:</h2>
    <div class="inlineVideos">
<!--       <iframe src="https://player.vimeo.com/video/140932853?portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <iframe src="https://player.vimeo.com/video/140932853?portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
      <ul>
        <li>
          <iframe src="https://player.vimeo.com/video/140932853?portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </li>
        <li>
          <iframe src="https://player.vimeo.com/video/140932853?portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </li>
      </ul>
    </div>

  </div>



</div>

{% endblock %}
